<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/assets/css/auth/home.css}">
</head>
<body>
<div class="card" layout:fragment="content">
    <div class="card-header text-center">
        <span class="splash-description">Osiris user.</span>
    </div>
    <div class="card-body">

    </div>
</div>
</body>
</html>